.section1 {
  background-color: #495e57;
  height: 330px;
  display: flex;
  justify-content: center;
  gap: 124px;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-family: 'Markazi Text', serif;
  font-size: 56px;
  color: #f4ce14;
}

.subtitle {
  font-family: Markazi Text;
  font-size: 32px;
  color: white;
}

.desc {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: white;
}

.section1 button,
.section2 .header button {
  background-color: #f4ce14;
  border: 1px solid #f4ce14;
  border-radius: 16px;
  width: 200px;
  height: 48px;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.section1 button a,
.section2 .header button a {
  text-decoration: none;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  top: 32px;
  width: 350px;
  height: 350px;
}

.imgFood {
  width: 100%;
  margin-top: -72px;
}

.section2 {
  height: 590px;
  background-color: white;
}

.section2 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  gap: 150px;
}

.section2 .header span {
  font-family: 'Markazi Text', serif;
  font-size: 56px;
}
.section2 .header button {
  margin-right: 48px;
}

.section2 .content {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 28px
}


